body {
    font-family: Arial, sans-serif;
    background-color: #666;
    margin: 0;
  }

  div {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  div a {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
  }
  
  div a:hover {
    background-color: #3e8e41;
  }
  
  h1 {
    text-align: center;
    color: #ccc;
    margin-top: 40px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  th,
  td {
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #111;
    color: #fff;
    font-weight: bold;
  }

  
  tr:nth-child(even) {
    background-color: #444;
  }
  
  tr:hover {
    background-color: #555;
  }
  
  div.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }
  
  .buttons a {
    margin-left: 10px;
  }
  
  input[type="button"] {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="button"]:hover {
    background-color: #3e8e41;
  }
  
  a.logout {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 6px;
    border-radius: 4px;
  }
  
  a.logout:hover {
    text-decoration: underline;
  }

  .btn-editar {
    background-color: yellow;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }
  
  .btn-excluir {
    background-color: red;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
  }