<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Tarefas</title>
    <link href="../static/css/listagem.css" th:href="@{/css/listagem.css}" rel="stylesheet" />
    <link rel="shortcut icon" href="#">
    <link rel="icon" href="data:,">
</head>
<body>
  <h1>Minhas Tarefas</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Descrição</th>
        <th>Data de Inicio</th>
        <th>Prazo</th>
        <th>Prioridade</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="tarefa : ${tarefas}">
        <td th:text="${tarefa.id_tarefa}"></td>
        <td th:text="${tarefa.titulo}"></td>
        <td th:text="${tarefa.descricao}"></td>
        <td th:text="${tarefa.data_inicio}"></td>
        <td th:text="${tarefa.prazo}"></td>
        <td th:text="${tarefa.prioridade}"></td>
        <td th:text="${tarefa.status}"></td>
      </tr>
    </tbody>
  </table>
  <div>
    <a href="index.html" th:href="@{tarefas}">
      <input type="button" value="Voltar">
    </a>
  </div>
</body>
</html>
