<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="shortcut icon" href="#">
  <title>Gerenciador de Tarefas</title>
</head>

<body>
  <h1>Gerenciador de Tarefas</h1>
  <div id="index">
    <form id="cadastro_tarefa" method="post" action="" th:object="${tarefasDto}">
      <div class="titulo">
        <label for="titulo">Titulo da Tarefa:</label>
        <input type="text" id="titulo" name="titulo" required="required" placeholder="titulo" th:value="${titulo}">
      </div>
      <div class="descricao">
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" required="required" placeholder="descricao"
          th:value="${descricao}"> </textarea>
      </div>
      <div class="data_inicio">
        <label for="data_inicio">Data de Inicio</label>
        <input type="date" id="data_inicio" name="data_inicio" th:value="${data_inicio}">
      </div>
      <div class="prazo">
        <label for="prazo">Prazo</label>
        <input type="date" id="prazo" name="prazo" th:value="${prazo}">
      </div>

      <div class="prioridade">
        <label for="prioridade">Prioridade:</label>
        <select id="prioridade" name="prioridade" required="required" th:value="${prioridade}">
          <option value="BAIXA">Baixa</option>
          <option value="MEDIA">Média</option>
          <option value="ALTA">Alta</option>
        </select>
      </div>
      <div class="status">
        <label for="status">Status:</label>
        <select id="status" name="status" required="required" th:value="${status}">
          <option value="Não iniciado">Não iniciado</option>
          <option value="Em Andamento">Em Andamento</option>
          <option value="Concluído">Concluído</option>
        </select>
      </div>
      <p>
        <a href="login.html" th:href="@{login}">
          <input type="submit" value="Adicionar Tarefa">
          <input type="button" value="Voltar ao Login">
        </a>
      </p>
    </form>
  </div>
</body>

</html>