<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Gerenciador de Tarefas</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <h1>Gerenciador de Tarefas</h1>
    <form id="cadastro_tarefa" method="post" th:action="@{/tarefas}" th:object="${tarefasDto}">
      <div class="titulo">
        <label for="titulo">Titulo da Tarefa:</label>
        <input type="text" id="titulo" name="titulo">
      </div>
      <div class="descricao">
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao"></textarea>
      </div>
      <div class="data">
        <label for="data_inicio">Data de Inicio</label>
        <input type="date" id="data_inicio" name="dataInicio" >
      </div>
      <div class="prazo">
        <label for="prazo">Prazo</label>
        <input type="date" id="prazo" name="prazo"  >
      </div>
      <div class="prioridade">
        <label for="prioridade">Prioridade:</label>
        <select id="prioridade" name="prioridade">
          <option value="BAIXA">Baixa</option>
          <option value="MEDIA">Média</option>
          <option value="ALTA">Alta</option>
        </select>
      </div>
      <div class="status">
        <label for="status">Status:</label>
        <select id="status" name="status" >
          <option value="Não iniciado">Não iniciado</option>
          <option value="Em Andamento">Em Andamento</option>
          <option value="Concluído">Concluído</option>
        </select>
      </div>
      <p>
        <a href="login.html">
          <input type="submit"  value="Adicionar Tarefa">
          <input type="button" value="Voltar ao Login">
        </a>
      </p>
    </form>

  </body>
</html>